.profile-search-form {
    background: var(--dark-color);
    border: 1px solid var(--light-color);
    padding: 16px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
}