@if (chat(); as chat) {
    <app-avatar-circle [avatarUrl]="chat.userFrom.avatarUrl" class="size32"></app-avatar-circle>

    <div class="last-message__wrapper">
        <div class="last-message__header medium-text">
            <span>{{ chat.userFrom.firstName }} {{ chat.userFrom.lastName }}</span>
            <span>{{ chat.createdAt | date: 'dd.MM.YY' }}</span>
        </div>
        <div class="last-message__main">
            <p class="medium-text last-message__text">{{ chat.message ?? '...' }}</p>
            @if (chat.unreadMessages !== 0) {
                <div class="last-message__unreadMessages">{{ chat.unreadMessages }}</div>
            }
        </div>
    </div>
}
