:host {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 16px;
    padding-right: 28px;
}

.comment-body {
    display: grid;
    grid-gap: 8px;
    height: 100%;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    color: var(--light-transparent-color);
}