:host {
  padding: 16px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
}

.messages-wrapper {
  position: relative;
  display: grid;
  grid-gap: 12px;
}