@if (message(); as message) {
    <app-avatar-circle
        class="size32"
        [avatarUrl]="message.user!.avatarUrl"
    ></app-avatar-circle>
    <div class="message-container">
        <div class="message-title mb8">
            <strong class="title-text"> {{ message.user?.firstName }} {{ message.user?.lastName }} </strong>
            <strong class="regular mb8">{{ message.createdAt | dateMessage }}</strong>
        </div>
        <div class="message-text medium-text">
            {{ message.text }}
        </div>
    </div>
}

